.registerform {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E9C9F2; /* Color de la paleta */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #0D0D0D; /* Color principal */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #0D0D0D;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ACF2DE;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
    border-color: #A0F2D4;
  }
  
  button:hover {
    background-color: #ACF2DE;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  