.card {
  width: 250px; /* Define un ancho fijo */
  height: 350px; /* Define una altura fija */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.card img {
  width: 100%;
  height: 60%; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionar */
}

.card .container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 40%; /* Ajusta el espacio disponible para el contenido */
  overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
}

.card h4, .card p {
  margin: 5px 0;
  overflow: hidden; /* Oculta el desbordamiento del texto */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita el salto de línea en el texto */
}

.btnContainer {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #E9C9F2;
  color: #0D0D0D;
  cursor: pointer;
}

.btn:hover {
  background-color: #A0F2D4;
}
