.container {
    display: flex;
    flex-direction: row;
    /* min-height: 100vh;  */
    box-sizing: border-box;
  }
  

  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    margin: 20px;
    width: 100%;
  }