/* layout.module.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el alto de la pantalla */
    box-sizing: border-box;
  }
  
  .header {
    /* Puedes agregar estilos adicionales aquí para el header si lo deseas */
  }
  
  .main {
    flex: 1; /* Esto hace que el contenido principal ocupe el espacio restante entre el header y el footer */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
  }
  
  .footer {
    width: 100%;
  }
  