


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menuDashboard {
    max-width: 100px;
    height: 100vh;
    padding: 20px;
    transition: max-width .3s ease;
}

.topMenuRigth{
    display: flex;
    justify-content: right;
}
.topMenuCenter{
    display: flex;
    justify-content: center;
}
.topMenu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 30px;
}

.topMenu .toggle i {
    font-size: 35px;
    display: flex;
    justify-content: right;
}

/* INPUT BOX */

.inputSearch {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.inputSearch i {
    font-size: 30px;
    margin-right: 20px;
}

.inputSearch .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */
.enlace:hover{
    border: white 0.5px solid;
}
.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}


.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.open {
    max-width: 300px;
}


.open .inputSearch {
    width: auto;
}

.open .inputSearch .input {
    display: block;
}

.open .menu .enlace {
    padding: 20px;
}

.open .menu .enlace span {
    opacity: 1;
}

.containOption {
    display: flex; 
    align-items: center;
  }