.card {
    height: 100%;
    width: 100%;
    margin: 100px 0px;
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 1rem;
    border: transparent;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .card {
        margin: 3vh auto;
    }
}
.textMuted{
    cursor: pointer;
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    width: 60%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
    width: 30vw;
    height: 100%;
    }

@media (max-width: 767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.row {
    margin: 0;
    display: flex;
    align-items: center;
    
}

.title {
    margin-bottom: 5vh;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col2,
.col {
    padding: 0 1vh;
}

a {
    padding: 0 1vh;
    color: black; 
}

a:hover {
    color: black;
    text-decoration: none;
}

.close {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
}

.img {
    width: 3.5rem;
}

.backToShop {
    /* margin-top: 4.5rem; */
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

.form {
    padding: 2vh 0;
}

.select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn:hover {
    color: white;
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
.descripcion{
    width: 200px;
}